 .contents-box {
  width:40%;
	background:#007591;
	margin: 5% auto; 
  color: white;
}

.shadow {
  	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.contents-box h3 {
  text-decoration: underline;
}

.contents-box ul {
  list-style: none;
  text-align: center;
  padding-bottom: 3%;
}

.contents-box a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.contents-box h3 {
  text-align: center;
  font-size: 2.5em;
  padding: 2.5% 0;
}

.mdd-img {
  background-image: url(../img/mdd-img2.gif);
  box-shadow: inset 0 0 0.5em #111;
  height: 500px;
   color: black;
  font-size: 5em;
  font-family: lora;
  text-align: center;
  padding-top: 6%;
}

.ad-img {
   background-image: url(../img/ad-brain-alz.gif);
  box-shadow: inset 0 0 1em #111;
  height: 500px;
  color: white;
  font-size: 6em;
  font-family: lora;
  text-align: center;
  padding-top: 5%;
 
}

.meditation-img {
   background-image: url(../img/meditation.gif);
  box-shadow: inset 0 0 1em #111;
  height: 500px;
  color: white;
  font-size: 6em;
  font-family: lora;
  text-align: center;
  padding-top: 5%;
 
}

.main-content {
  padding-top: 0px;
}

p {
  font-size: 18px;
  font-family: lato;
}

.italic {
  font-style:italic;
}

img {
  display: block;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.larger-img {
  width: 60%;
  height: 60%;
}

.hh {
    margin-left: auto;
  margin-right: auto;
    border-style: solid;
    border-width: medium;
max-width: 60%;
  
}

.hh p {
  font-size: 16px;
}

.heading {
  font-size: 2em;
  border-bottom: solid 2px;
  max-width:60%;
margin: 5% auto 0;
  font-family: Lora;
  font-weight: bold;
  
}

.bold {
font-weight: bold;
}

.diagnosis, .risk, .ul-list {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  font-size: 18px;
  font-family: lato;
}

.intro-q {
  font-family: lato;
  text-align: center;
  font-size: 1.5em;
}

h4 {
/*  text-align: left;*/
  font-size: 1.2em;
}

.risk li {
  margin-bottom: 1%;
}

h3 {
  font-size: 1.5em;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.padding-top-remove {
  padding-top: 0; 
}

.padding-bottom-remove {
  padding-bottom: 0;
}

.caption {
  font-size: 14px;
  width: 50%;
 
}

p span img{
  width: 100%;
}

.hpa {
  width: 50%;
  float: left;
  line-height: 1;
}

.margin-top-add {
  margin-top: 5%;
}

li {
line-height: 1.5;
}

.box {
  background-color: lightgray;
  margin-left: 20%;
  margin-right: 20%;
  padding: 3% 0;
  box-shadow: inset 0 0 1em #111;
}

#ad-intro h4, .box h4, .toggle h4 {
  text-align: center;
}

#ad-treatment {
  padding-bottom: 2.5%;
}

#ad-diagnosis h3, #dmn-meditation h3{
  padding-top: 2.5%;
}

